.product-description {
	padding: 14px;
	background-color: #FFFFFF;
	min-height: 40px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 20px;
	color: #626262;
}

.product-description div ul li span{
	color: #428bca;
}

.product-container {
	min-height: 300px;
	max-height: 500px;
	color: #626262;
}

.product-image {
	width: 100%;
	height: 100%;
}

h2 {
	color: #626262;
}

.button-empty {
	margin-top: 20px;
	color: #626262;
}

#button-buy, #button-keepbuying {
	width: 180px;
	margin-left: 10px;
}

.nombre-producto{
	font-size: 20px;
	color: #626262;
}

i .borrar{
	color: white;
}

i .glyphicon-pencil {
	color: #626262;
}

.product-delete{
	background-color: #626262;
	border-color: #626262;
}